<header
  class="relative bg-gradient-to-b from-black to-stone-800 text-white py-3 px-8 flex items-center justify-between flex-row"
>
  <div class="flex items-center">
    <img
      src="/assets/img/Netflix_2015_logo.svg"
      alt="netflix logo"
      class="w-[6%] mr-10"
    />

    <nav>
      <ul class="flex gap-6 items-center">
        <li>
          <a
            routerLink="/home"
            class="hover:text-blue-200 transition"
            [routerLinkActive]="['active']"
            >หน้าหลัก</a
          >
        </li>
        <li>
          <a routerLink="/tv-program" class="hover:text-blue-200 transition"
            >รายการทีวี</a
          >
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-blue-200 transition"
            >ภาพยนตร์</a
          >
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-blue-200 transition"
            >เกม</a
          >
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-blue-200 transition"
            >มาใหม่และกำลังฮิต</a
          >
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-blue-200 transition"
            >รายการของฉัน</a
          >
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-blue-200 transition"
            >เลือกดูตามภาษา</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <nav>
    <ul class="flex gap-6 items-center">
      <li>
        <span class="material-icons text-3xl"> search </span>
      </li>
      <li>
        <span class="material-icons-outlined text-3xl"> notifications </span>
      </li>
      <!-- User Dropdown -->
      <li
        class="relative z-50"
        (mouseenter)="showPopup = true"
        (mouseleave)="showPopup = false"
      >
        <!-- ปุ่มโปรไฟล์ -->
        <div class="flex items-center gap-2 cursor-pointer bg-stone-800">
          <img
            src="/assets/img/Netflix_Profile.jpg"
            alt="netflix logo"
            class="w-9 rounded"
          />
          <span class="material-icons"> arrow_drop_down </span>
        </div>

        @if (showPopup) {

        <div
          class="absolute right-0 top-full mt-0 w-48 bg-stone-900 text-white rounded shadow-lg p-4 z-50"
        >
          <div class="flex flex-row items-center">
            <img
              src="/assets/img/Netflix_Profile.jpg"
              alt="netflix logo"
              class="w-7 mr-2 rounded"
            />
            <p class="font-semibold">ball1234</p>
          </div>
          <a routerLink="/profile" class="block mt-2 hover:text-blue-950"
            >จัดการโปรโฟล์</a
          >
          <a routerLink="/profile" class="block mt-2 hover:text-blue-950"
            >จัดการโปรโฟล์</a
          >
          <a routerLink="/profile" class="block mt-2 hover:text-blue-950"
            >จัดการโปรโฟล์</a
          >
          <a routerLink="/profile" class="block mt-2 hover:text-blue-950"
            >จัดการโปรโฟล์</a
          >
          <button class="mt-2 text-red-500 hover:underline hover:text-red-800">
            ออกจากระบบ
          </button>
        </div>
        }
      </li>
      <button
        matIconButton
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        class="flex flex-row items-center"
      >
        <img
          src="/assets/img/Netflix_Profile.jpg"
          alt="netflix logo"
          class="w-9 mr-2 rounded"
        />
        <span class="material-icons"> arrow_drop_down </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span class="material-icons-outlined"> edit </span>
          <span>จัดการโปรโฟล์</span>
        </button>
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>จัดการโปรโฟล์</span>
        </button>
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>จัดการโปรโฟล์</span>
        </button>
      </mat-menu>
    </ul>
  </nav>
</header>
