<header
  class="relative bg-gradient-to-b from-black to-stone-800 text-white py-3 px-8 flex items-center justify-between flex-row"
>
  <div class="flex items-center">
    <img
      src="/assets/img/Netflix_2015_logo.svg"
      alt="netflix logo"
      class="w-[6%] mr-10"
    />

    <nav>
      <ul class="flex gap-6 items-center">
        <li>
          <a
            routerLink="/home"
            class="hover:text-blue-200 transition"
            [routerLinkActive]="['active']"
            >หน้าหลัก</a
          >
        </li>
        <li>
          <a routerLink="/tv-program" class="hover:text-blue-200 transition"
            >รายการทีวี</a
          >
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-blue-200 transition"
            >ภาพยนตร์</a
          >
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-blue-200 transition"
            >เกม</a
          >
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-blue-200 transition"
            >มาใหม่และกำลังฮิต</a
          >
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-blue-200 transition"
            >รายการของฉัน</a
          >
        </li>
        <li>
          <a routerLink="/contact" class="hover:text-blue-200 transition"
            >เลือกดูตามภาษา</a
          >
        </li>
      </ul>
    </nav>
  </div>

  <nav>
    <ul class="flex gap-6 items-center">
      <li>
        <span class="material-icons text-3xl"> search </span>
      </li>
      <li>
        <span class="material-icons-outlined text-3xl"> notifications </span>
      </li>

      <button
        matIconButton
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
        class="flex flex-row items-center"
      >
        <img
          src="/assets/img/Netflix_Profile.jpg"
          alt="netflix logo"
          class="w-9 mr-2 rounded"
        />
        <span class="material-icons"> arrow_drop_down </span>
      </button>
      <mat-menu #menu="matMenu" class="!bg-stone-900 text-white">
        <button mat-menu-item>
          <img
            src="/assets/img/Netflix_Profile.jpg"
            alt="netflix profile"
            class="w-7 rounded inline-block mr-2"
          />
          <span>ball1254</span>
        </button>
        <button mat-menu-item>
          <span class="material-icons-outlined mr-2 flex flex-row items-center">
            edit
          </span>
          <span>จัดการโปรโฟล์</span>
        </button>
        <button mat-menu-item>
          <span class="material-icons-outlined mr-2">
            sentiment_satisfied_alt
          </span>
          <span>ย้ามโปรไฟล์</span>
        </button>
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>บัญชี</span>
        </button>
      </mat-menu>
    </ul>
  </nav>
</header>
