<body>
    <section class="container">
        <div class="home">
            <div>
                <img src="/assets/img/Netflix_2015_logo.svg" alt="">
                <a href="#" class="btn btn-register">เข้าสู่ระบบ</a>
            </div>
            <div class="home__content">
                <h1>ภาพยนตร์ รายการทีวี และความบันเทิงอีกมากมายแบบไม่จำกัด</h1>
                <p>ดูหนังออนไลน์ฟรี ดูหนังใหม่ชนโรง ดูซีรี่ย์ออนไลน์ ดูหนัง Netflix</p>
                <a href="#" class="btn btn-watch">ดูหนังออนไลน์</a>
            </div>

        </div>


    </section>
</body>

