<form class="space-y-4">
      <!-- Email or Phone input field -->
      <mat-form-field class="w-full mb-4 ">
        <mat-label class="text-white">อีเมลหรือหมายเลขโทรศัพท์</mat-label>
        <input matInput class="bg-gray-800 text-white border-2 border-white rounded-md p-3 w-full focus:ring-2 focus:ring-emerald-500 focus:border-emerald-500">
      </mat-form-field>

      <!-- Password input field -->
      <mat-form-field class="w-full mb-4">
        <mat-label class="text-white">รหัสผ่าน</mat-label>
        <input matInput type="password" class="bg-gray-800 text-white border-2 border-white rounded-md p-3 w-full focus:ring-2 focus:ring-emerald-500 focus:border-emerald-500">
      </mat-form-field>

      <!-- Sign in button -->
      