
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;


@tailwind base;
@tailwind components;
@tailwind utilities;


// @import "~@angular/material/theming";
// * {
//   font-family: 'Noto Sans Thai', sans-serif;
// }

html, body { height: 100%;
 }
body { margin: 0; font-family: "Noto Sans Thai", sans-serif; }

@layer base {
   :root {
    --redlight: 357deg 100% 50%;
    --redlight_hover:357deg 100% 45.81%;
    mat-icon, mat-label {
    display: inline-block !important;
  }

  mat-form-field {
    /* รีเซ็ตสไตล์บางส่วน แต่ไม่ใช้ all: unset */
    display: inline-block !important;
  }

  /* ปรับแก้การรีเซ็ตสไตล์ของ input, button, select, textarea */
  // input,
  //   button,
  //   select,
  //   textarea {
  //     all: unset !important;
  //     display: inline-block !important;
  //   }


/* Autofill custom background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

input {
 color: white !important;
  caret-color: white;
}
}


*{
  font-family: "Noto Sans Thai";
  box-sizing: border-box;
}

// @import 'swiper/swiper-bundle.min.css';
}

