<section class="relative min-h-screen w-full overflow-hidden z-40">
  <div
    class="absolute min-h-screen overflow-hidden z-50 bg-gradient-to-t from-stone-950/100 via-stone-950/50 to-transparent"
  ></div>
  <div>
    <div class="w-full h-[200px]"></div>
    <div class="w-[700px] pl-16 pb-16">
      <img
        src="/assets/img/unicorntitle.webp"
        alt="title"
        class="w-[600px] mb-10"
      />

      <p class="text-white text-2xl font-medium mb-10">
        สันติ นักลงทุนไฟแรงใฝฝันที่ตะประสบความสำเร็จแบบถลมทลย
        ด้วยใอเดียการทำธุกิจขนส่งพัสดุที่จะเขย่าวงการ
        แต่บรรดาคู่แข่งก็พยายามทำทุกวิถีทางเพื่อครองตำแหน่งเจ้าตลาด
      </p>
      <div class="flex flex-row gap-5">
        <app-button
          [class]="
            'bg-white py-0 !pl-4 pr-8 hover:!bg-gray-200 !text-black flex flex-row drop-shadow-[0_35px_35px_rgba(20,1,0,0.25)] font-bold '
          "
        >
          <span class="material-icons-round text-6xl"> play_arrow </span>
          <p class="text-2xl font-extrabold">เล่น</p>
        </app-button>

        <app-button
          [class]="
            ' !bg-gray-500/50 hover:!bg-gray-700/50 !text-s flex flex-row drop-shadow-[0_35px_35px_rgba(20,1,0,0.25)] font-bold '
          "
        >
          <span class="material-icons-outlined mr-4 text-5xl text-white">
            info
          </span>
          <p class="text-2xl text-white">ข้อมูลเพิ่มเติม</p>
        </app-button>
      </div>
    </div>
    <div
      class="bg-gradient-to-t from-stone-950/100 via-stone-950/50 to-transparent"
    >
      <div class="pl-16 h-12 px-0 pt-0">
        <h1 class="text-gray-300 font-extrabold text-3xl">
          <p>ที่ Netflix เท่านั้น</p>
        </h1>
      </div>
      <app-swiper class="block pl-16" [items]="imgpaths" [config]="config">
        <ng-template let-item>
          <img
            [src]="item"
            alt=""
            class="w-auto h-[160px] object-cover hover:scale-105 transition-transform duration-300 rounded"
          />
        </ng-template>
      </app-swiper>
    </div>

    <div class="px-0 bg-stone-950 z-30 pt-8">
      @for (section of sections; track section.title) {
      <div class="py-8">
        <div class="h-12 pl-16">
          <h1 class="text-gray-300 font-extrabold text-3xl">
            {{ section.title }}
          </h1>
        </div>
        <app-swiper class="block pl-16" [items]="imgpaths" [config]="config">
          <ng-template let-item>
            <img
              [src]="item"
              alt=""
              class="w-auto h-[160px] object-cover hover:scale-105 transition-transform duration-300 rounded"
            />
          </ng-template>
        </app-swiper>
      </div>
      }
    </div>
  </div>

  <div class="bg-stone-950 h-full"></div>
</section>
<div
  class="absolute inset-0 bg-gradient-to-r from-black/5 via-black/5 to-transparent z-30"
></div>
<video
  class="absolute inset-0 h-[110vh] w-full object-cover transition-opacity duration-300 z-20"
  autoplay
  muted
  loop
  playsinline
  [ngStyle]="{ opacity: 1 - transitionProgress }"
>
  <source
    src="https://occ-0-8018-64.1.nflxso.net/so/soa7/272/1915307573565347840.mp4?v=1&e=1749837177&t=xSksRxUqqlygdFJDGR2dxyanSNY"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<!-- overflow-hidden -->

<!-- <img
    class="absolute inset-0 h-full w-full object-cover transition-opacity duration-300"
    src="https://occ-0-8018-64.1.nflxso.net/dnm/api/v6/Z-WHgqd_TeJxSuha8aZ5WpyLcX8/AAAABdWejBzwyTY8b6TDhV8fS7YUtOfROMX5cuyF44z2RRD7rS4rV7NpmiFhSI76Xxh2RqNis3sfepSG2WCw4DLDMVSPM9TY3-ufOb6B.jpg?r=513"
    alt="Static Image"
    [ngStyle]="{ opacity: transitionProgress }"
  /> -->

<!-- gradient overlay -->
<!-- <div
  class="absolute inset-0 bg-gradient-to-t from-black/100 via-black/20 to-transparent z-30"
></div> -->

<!-- content -->
<!-- <div
    class="absolute inset-0 flex flex-col md:flex-col justify-center px-10 md:px-24 text-white transition-opacity duration-700 z-20"
    [ngClass]="{ 'opacity-0': isScrolled, 'opacity-100': !isScrolled }"
  >
    <h1 class="text-4xl md:text-4xl font-bold mb-4">
      ซีรีส์ Squid Game: เกมล่าเงินรางวัล
    </h1>
    <div class="flex flex-row">
      <app-button
        [class]="
          'bg-white hover:!bg-gray-200 !text-black flex flex-row drop-shadow-[0_35px_35px_rgba(20,1,0,0.25)] font-bold '
        "
      >
        <span class="material-icons-round text-5xl"> play_arrow </span>
        <p class="text-2xl">เล่น</p>
      </app-button>

      <app-button
        [class]="
          'ml-10 !bg-gray-500 hover:!bg-gray-700 !text-s flex flex-row drop-shadow-[0_35px_35px_rgba(20,1,0,0.25)] font-bold '
        "
      >
        <span class="material-icons-outlined mr-4 text-5xl"> info </span>
        <p class="text-2xl">ข้อมูลเพิ่มเติม</p>
      </app-button>
    </div>
  </div>

  <div></div> -->
