
<video  class="h-screen w-full object-cover" autoplay muted loop>
  <source src="https://videos.pexels.com/video-files/32445827/13837680_2560_1440_30fps.mp4" type="video/mp4"/>
  Your browser does not support the video tag.
</video>

<div class="h-screen bg-white">
  <div class="pt-[15%] px-24 absolute h-full text-white bg-gradient-to-r from-black">
    <h1 class="text-7xl font-bold"></h1>

  </div>

</div>


<app-button [class]="'bg-gray-400 text-white font-bold'">
  <span class="material-icons-outlined mr-4 text-5xl"> info </span
  >ข้อมูลเพิ่มเติม</app-button
>
